extends layout 

block content 

  h1 Login here!
  if error 
    h2.error.message=error
  
  p Login
    form(method="post" action"/login)

      div
        input(type="text" name="email", placeholder="email")
      div 
        input(type="password" name="password", placeholder="password")
      div 
        input(type="submit", value="login")
    div
      a.btn.btn-default(href="/signup") Signup
