extends layout 

block content 

  h1 Hello Stranger
    if error 
      h2.error-message=error
    
    p.col-sm-10 Login Here 
      form.form-horizontal(method="post" action="/login")
        div.form-group
        div.col-sm-10
          input(type="text" name="user[email]", placeholder="email", value=email)
        div.col-sm-10
          input(type="password", name="user[password", placeholder="password")
        div.col-sm-10
          input(type="submit", value="Login")
          div

            a.btn-btn-default(href="/signup") Signup 
